@media screen and (max-width: 1200px) {
    .container {
		width: 1140px;

        /* background-color: red; */
	}
}

@media screen and (max-width: 1199px) {
    .container {
		width: 960px;
	
        /* background-color: green; */
    }
    .about-us__content {
        flex-direction: column;
    }
    .about-us__aside {
        margin: 0 auto;
        width: fit-content;
    }
    .about-us__content-info {
        margin-top: 75px;
    }
}

@media screen and (max-width: 991px) {
    .container {
		width: 720px;

        /* background-color: purple; */
	}
    .recommendations__product-about {
        grid-template-columns: repeat(3, auto);
    }
}

@media screen and (max-width: 767px) {
    .container {
		width: 540px;

        /* background-color: orange; */
	}
    .header__content {
        width: 100%;
    }
    .menu {
        position: absolute;
        top: 0;
        left: 0;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        background: rgba(0, 0, 0, 0.70);
        backdrop-filter: blur(10px);

        width: 100%;
        height: 100vh;

        transform: translateY(-100%);
        transition: all .5s ease;
    }
    .menu__item:not(:last-child) {
        margin: 0;
        margin-bottom: 15px;
    }
    .menu--active {
        transform: translateY(0);
    }
    
    .burger {
        display: block;
    }
    .recommendations__product-about {
        grid-template-columns: repeat(2, auto);
    }
    .about-us__card-img {
        right: 0;
    }
    .more-possibilities__card-img-1 {
        right: -35px;
    }
    .more-possibilities__card-img-2 {
        left: -35px;
    }
    .form {
        width: 100%;
    }
}

@keyframes test {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 100%;
    }
}

@media screen and (max-width: 575px) {
    .container {
		padding: 0 10px;
		width: 90%;

        /* background-color: pink; */
	}
    .title {
        font-size: 28px;
    }
    .sub-title {
        font-size: 18px;
    }
    .header__content {
        padding-left: 15px;
        padding-right: 15px;
    }
    .recommendations__companies-about {
        display: grid;
        grid-template-columns: auto auto;
        gap: 20px;
    }
    .companies__item:not(:last-child) {
        margin: 0;
    }
    .recommendations__product-about {
        grid-template-columns: repeat(1, auto);
    }
    .about-us__card-img {
        bottom: -80px;
    }
    .about-us__content-info {
        margin-top: 105px;
    }
    .more-possibilities__card-img {
        padding: 5px 30px;
    }
    .more-possibilities__card-img-1 {
        right: 0px;
    }
    .more-possibilities__card-img-2 {
        left: 0px;
    }
    .more-possibilities__card-img-3 {
        right: 0px;
    }
}