@import url('header.css');
@import url('section.css');
@import url('section_about-us.css');
@import url('section_popular.css');
@import url('section_more-possibilities.css');
@import url('section_recommendations.css');
@import url('section_help-form.css');
@import url('footer.css');

@import url(https://fonts.googleapis.com/css?family=Montserrat:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);

body {
    font-family: 'Alumni Sans Pinstripe', sans-serif;
    font-family: 'Work Sans', sans-serif;
    font-family: 'Montserrat', sans-serif;
    color: #fff;
}

/* chrome, opera, safari, yandex, microsoft-edge */
::-webkit-scrollbar {
    width: 10px;
    background-color: #282c30;
}
::-webkit-scrollbar-thumb {
    width: 10px;
    background-color: #101213;
    border-radius: 5px;
}
::-webkit-scrollbar-thumb:hover {
    background-color: #0d0e0f;
}

.main {
    position: relative;
}
.section {
    overflow: hidden;
}