.more-possibilities {
    padding: 50px 0;
}
.more-possibilities__content {
}
.more-possibilities__title {
    margin: 0 auto;
    margin-bottom: 50px;

    max-width: 370px;
}
.more-possibilities__wrapper-img {
    position: relative;

    margin: 0 auto;
    padding: 15px;

    max-width: 400px;
    width: fit-content;

    background-color: #101213;
    border-radius: 15px;
}
.more-possibilities__img-overflow {
}
.more-possibilities__img {
}
.more-possibilities__card-img {
    position: absolute;

    padding: 15px 50px;
    max-width: fit-content;
    text-align: center;
    border-radius: 20px;
    background: rgba(70, 70, 70, 0.50);
    backdrop-filter: blur(5px);
}
.more-possibilities__card-img-1 {
    right: -50px;
    bottom: -10px;
}
.more-possibilities__card-img-2 {
    left: -50px;
    top: 50%;
}
.more-possibilities__card-img-3 {
    top: -10px;
    right: -20px;
}
.more-possibilities__card-title {
    margin: 0;
}